/* cards*/

.card {
  color: white;
  padding: 20px;
  border-radius: 10px;
  background-color: rgb(152, 5, 152);
  width: 220px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.name-plant {
  display: block;
  text-align: center;
}

.img-container {
  margin: 5px 0px;
  background-color: white;
  width: 200px;
  height: 166px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.info {
  display: flex;
  gap: 15px;
}
.descrption {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.image {
  width: 100px;
  height: auto;
}
.plantImage {
  z-index: 3;
  position: relative;
  top: 5px;
}
.potImage {
  z-index: 2;
  width: 92px;
  position: relative;
  top: -124px;
}
.soilImage {
  z-index: 4;
  width: 73px;
  height: auto;
  position: relative;
  top: -225px;
  left: -3px;
}
.extramoss {
  z-index: 2;
  position: absolute;
}
.extrapebbles {
  z-index: 3;
  position: absolute;
  top: 8px;
}
.extramini {
  position: relative;
  z-index: 4;
  top: -357px;
}
.infoPot,
.infoSoil,
.infoName,
.infoExtras {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
}
.descripCard {
  padding: 12px;
}

.moreElements {
  font-size: 12px;
}
a {
  text-decoration: none;
}

.customize-btn {
  color: white;
  background-color: rgb(152, 5, 152);
  padding: 10px 20px 10px 20px;
  border-color: blueviolet;
}
