@import url('./card.css');

body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

main {
  display: flex;
}

h1 {
  text-align: left;
}

input {
  accent-color: rgb(152, 5, 152);
}

.question {
  display: flex;
  margin-bottom: 6px;
  text-align: left;
  flex-direction: column;
}
.question p {
  font-size: 20px;
  font-weight: 600;
  margin: 5px;
}
.question input {
  width: 26px;
  height: 26px;
  margin: 1px;
  position: relative;
  top: 5px;
}
.checkbox input {
  appearance: none;
  border: 2px #bab6b6 solid;
}
.checkbox input[type='checkbox']:checked::before {
  content: '\2713';
  font-size: 16px;
  color: purple;
  position: absolute;
  left: 5px;
}
button {
  color: white;
  background-color: rgb(152, 5, 152);
  padding: 10px 20px 10px 20px;
  border-color: blueviolet;
}