body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    text-align: left;
}

.question {
    margin-bottom: 10px;
    text-align: left;
}

button {
  color: white;
  background-color: rgb(152, 5, 152);
  padding: 10px 20px 10px 20px;
  border-color: blueviolet;
}
